# VS Solution is needed in this folder
!*.sln

# Prerequisites
*.d

# Idea caches
.vs/
.idea/

# Visual Studio temporary outputs
[Dd]ebug/
[Rr]elease/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app